@page
@model LibraryManagement3.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<section class="mb-4">
    <div class="card">
        <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
                <strong>Book Details</strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="col-md-7">
                <div>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Book.Title)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Book.Title)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Book.AuthorId)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Book.AuthorId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Book.LibraryBranchId)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Book.LibraryBranchId)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-page="./Edit" asp-route-id="@Model.Book.BookId" class="btn btn-primary">Edit</a>
                    <hr/>
                    <a asp-page="./Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>