@page
@model LibraryManagement3.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}


<section class="mb-4">
    <div class="card">
        <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
                <strong>Book Management</strong>
            </h5>
        </div>
        <div class="m-lg-3">
            <a asp-page="./Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add New Book
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Book[0].Title)
                            </th>
                            <th>
                                Author Name
                            </th>
                            <th>
                                LibraryBranch Name
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Book) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuthorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LibraryBranchName)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.BookId" class="btn btn-sm btn-info">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.BookId" class="btn btn-sm btn-secondary">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.BookId" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>